<div class="legend"><%= t('message.personal_info') %></div>
<%= f.input :last_name, :label => t( 'last_name' ) %>
<%= f.input :first_name, :label => t( 'first_name' ) %>
<%= f.input :last_name_kana, :label => t( 'last_name_kana' ) %>
<%= f.input :first_name_kana, :label => t( 'first_name_kana' ) %>
<%= f.input :male, :label => t(:gender), :as=>:radio, :collection=>[[t(:male),true],[t(:female),false]] %>
<%= f.input :birth, :label => t(:birth), :required=>false, :start_year=>1930 %>
<%= f.input :pc_email, :label => t(:pc_email) %>
<%= f.input :mob_email, :label => t(:mob_email) %>
<%= f.input :home_tel, :label => t(:home_tel), :input_html => { :class => :non_japanese } %>
<%= f.input :mob_tel, :label => t(:mob_tel), :input_html => { :class => :non_japanese } %>
<%= f.input :zip3, :label => t(:zip), :input_html => { :maxlength => 3, :class => :non_japanese } %>
<%= f.input :zip4, :label=> '–', :input_html => { :maxlength => 4, :class => :non_japanese }, :required => false %>
<li id="submit"><%= submit_tag t(:generate), :name => 'user[generate_address]', :id=>'generate' %></li>
<li class="clear"></li>
<%= f.input :prefecture, :label => t(:prefecture), :as=>:select, :collection => User::PREFECTURES %>
<%= f.input :ward_area, :label => t(:ward_area) %>
<%= f.input :building_room, :label => t(:building_room), :required => false %>