<%= javascript_include_tag "toggle_alternative_question.js" %>
<% title t(:signup) %>
<% subtitle "" %>

<p><%= t('message.already_account?') %> <%= link_to t(:login), login_path %></p>

<% semantic_form_for @user do |f| %>
	<% f.inputs do %>
		<span class="legend"><%= t('message.personal_info') %></span>
		<%= f.input :last_name, :label => t( 'last_name' ) %>
		<%= f.input :first_name, :label => t( 'first_name' ) %>
		<%= f.input :last_name_kana, :label => t( 'last_name_kana' ) %>
		<%= f.input :first_name_kana, :label => t( 'first_name_kana' ) %>
		<span class="horizontal"><%= f.input :male, :label => t(:gender), :as=>:radio, :collection=>[[t(:male),true],[t(:female),false]] %></span>
		<%= f.input :pc_email, :label => t(:pc_email) %>
		<%= f.input :mob_email, :label => t(:mob_email) %>
		<%= f.input :home_tel, :label => t(:home_tel) %>
		<%= f.input :mob_tel, :label => t(:mob_tel) %>
		<%= f.input :zip3, :label => t(:zip), :input_html => { :maxlength => 3 } %>
		<%= f.input :zip4, :label=> '–', :input_html => { :maxlength => 4 }, :required => false %>
		<%= f.input :prefecture, :label => t(:prefecture) %>
		<%= submit_tag "Generate", :name => 'user[generate_address]' %>
		<span class="legend"><%= t('message.select_id_and_password') %></span>
		<%= f.input :username, :label => t(:username) %>
		<%= f.input :password, :label => t(:password) %>
		<%= f.input :password_confirmation, :label => t(:password_confirmation) %>
		<span class="legend"><%= t('message.forgot_id_or_password') %></span>
		<%= f.input :question, :label => t(:security_question), :collection => @questions %>
		<%= f.input :alt_question, :label => t(:alt_security_question) %>
		<%= f.input :answer, :label => t( 'answer' ), :hint=>t('message.answer_is_secret'), :as=>:password %>
		<%= f.input :answer_confirmation, :label => t(:answer_confirmation), :as => :password %>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button t(:signup) %>
	<% end %>	
<% end %>

<%= javascript_tag "$('user_username').focus()" %>