<%= javascript_include_tag "toggle_alternative_question.js" %>
<% title t(:security_settings) %>
<% subtitle "" %>

<%- semantic_form_for @user, :url => { :action => :security_update }, :html => { :method => :put } do |f| -%>
	<% f.inputs do %>
		<%= render "security", :f=>f, :user=>@user %>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button t('update') %>
	<% end %>	
<%- end -%>

<div id="bottom_links">
	<%= link_to t(:show,:object=>t(:profile)), @user if can? :show, @user %>
	<%= link_to t(:edit,:object=>t(:profile)), edit_user_path( @user ) if can? :edit, @user %>
	<%= link_to t(:delete,:object=>t(:user)), confirm_delete_admin_user_path( @user ), :method => :delete, :confirm => "Are you sure?" if can? :delete, @user %>
	<%= link_to t(:list,:object=>t('users.title')), admin_users_path if can? :index, User %>
</div>