<% title t('users.title') %>
<% subtitle t('users.message.index') %>

<table id="users">
	<thead>
		<tr>
			<th><%= t(:username) %></th>
			<th><%= t(:email) %></th>
			<th><%= t(:actions) %></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.username %></td>
				<td><%= user.pc_email %></td>
				<td><%= link_to t(:info), user_path(user.username) %> <%= link_to t(:edit_single), edit_user_path(user) %> <%= link_to t(:security_settings), security_user_path(user) %> <%= link_to t(:delete_single), confirm_delete_admin_user_path(user), :method => :delete, :confirm => "Are you sure?" %></td>
			</tr>
		<% end %>
	</tbody>
</table>